body{
  text-align: center;
  font-family: Helvetica;
}
a{
  color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
/*Following are the CSS rules for the top section with the larger background image */
.navigation{
  background-image: url("../../resources/images/the-flatiron-building.png");
  color: white;
}
p.navigation{
  font-size: 18px;
}
p{
  font-size: 14px;
}
/*Following are the CSS rules for the lower designPanel section */
.designPanel{
  background-image: url("../../resources/images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
